@charset "utf-8";

/* 头部上面部分 */

body,
a {
    color: #666;
}

.top-nav {
    width: 1190px;
    margin: 0 auto;
    height: 74px;
    /* line-height: 74px; */
    padding-top: 24px;
    /* border: 1px solid blue; */
}


/* logo */

.top-nav .logo {
    float: left;
}

.top-nav .logo h1 {
    position: absolute;
    text-indent: -9999px;
}


/* 用户导航 */

.top-nav .user-nav {
    float: right;
}

.top-nav .user-nav .user-folat {
    float: left;
    /* padding-top: 10px; */
    margin: 0px 11px 0px 14px;
    height: 43px;
    line-height: 43px;
}

.user-nav .user-msg {
    position: relative;
    padding-top: 10px;
}


/* 消息红点 */

.user-nav .user-msg img {
    padding-bottom: 20px;
}

.user-msg span {
    position: absolute;
    left: 15px;
    top: 2px;
    display: inline-block;
    color: #fff;
    background-color: #D31A14;
    width: 20px;
    height: 20px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
}


/* 用户头像 */

.user-nav .user-icon {
    width: 43px;
}

.user-nav i.icon {
    float: right;
    margin: 20px 0px 0px 5px;
}

.user-nav .userinfo-menu {
    position: relative;
}


/* 用户头像下拉弹框 */

.userinfo-menu .userinfo-menu-cover li {
    border: 1px solid #e0e0e0;
    width: 124px;
    height: 40px;
    text-align: center;
    background-color: #fff;
}

.userinfo-menu:hover {
    cursor: pointer
}

.user-nav .userinfo-menu .userinfo-menu-cover {
    position: absolute;
    display: none;
}

.userinfo-menu:hover .userinfo-menu-cover {
    display: block;
}

.userinfo-menu-cover li:hover {
    background-color: #ccc;
}


/* 教师端下拉框 */

.user-sel {
    position: relative;
}

.user-sel:hover {
    cursor: pointer;
}

.user-th-cover {
    position: absolute;
    display: none;
}

.user-sel:hover .user-th-cover {
    display: block;
}

.user-th-cover li:hover {
    background-color: #e0e0e0;
}

.user-th-cover li {
    width: 80px;
    height: 40px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
}


/* 搜索框 */

.top-nav .search {
    margin: 0 265px 0 357px;
    padding-top: 10px;
    position: relative;
}


/* 搜索框下拉框 */

.search .search-course {
    position: relative;
    float: left;
    width: 66px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e0e0e0;
}


/* 鼠标变成小手 */

.search .search-course:hover {
    cursor: pointer
}


/* 搜索框下拉框图标样式 */

.search .sel-icon {
    float: right;
    margin: 13px 6px 5px;
}

.search .course-menu {
    position: absolute;
    left: -1px;
    display: none;
}

.search .course-menu li {
    border: 1px solid #e0e0e0;
    width: 66px;
    height: 30px;
    background-color: #fff;
}

.search .search-course:hover .course-menu {
    display: block;
}

.course-menu li:hover {
    background-color: #ccc;
}


/* 搜索框输入框 */

.search input {
    width: 400px;
    height: 30px;
    float: left;
    border: 1px solid #e0e0e0;
}


/* 搜索框图标 */

.search .search-icon {
    position: absolute;
    left: 435px;
    top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/search.gif) no-repeat;
}


/* 头部下面部分 */

.site-nav-cover {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #3598db;
}


/* 左边色块 */

.site-nav-cover .nav-left-color {
    flex: 1;
}


/* 中间导航部分 */

.site-nav-cover .site-nav-center {
    width: 1190px;
}

.site-nav-center li,
.site-nav-center a {
    font-size: 16px;
    color: #fff;
}


/* 左边菜单栏 */

.site-nav-label {
    background-color: #3598db;
}

.site-nav-cover .site-nav-item {
    float: left;
    line-height: 60px;
    margin-right: 10px;
}

.site-nav-item a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 22px;
    border-radius: 3px;
}

.site-nav-item a:hover {
    background-color: #2db0f9;
}


/* 右边链接 */

.site-nav-link {
    float: right;
    padding-left: 20px;
    background-color: #e7594d;
}

.site-nav-link .right-site-link li {
    float: left;
    line-height: 60px;
    margin: 0px 20px;
}


/* 右边色块 */

.site-nav-cover .nav-right-color {
    flex: 1;
    background-color: #e7594d;
}